@model DeviceManager.Models.ViewModels.ReceiptViewModel

@{
    ViewBag.Title = "Thêm mới Nhập kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhập kho</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm mới</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UsernameReceipt, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsernameReceipt", Model.UserList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsernameReceipt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDProvider, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDProvider", Model.ProviderList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDProvider, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @id = "ReceiptNote" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">Thêm mới</button>
        <input type="button" value="Lưu lại" class="btn btn-danger btn-sm" onclick="saveAll()" />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Device.Note)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Devices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>

    </div>
}

<div>
    @Html.ActionLink("Danh sách Nhập kho", "Index")
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="model-editor">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm mới thiết bị</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Create", "Device")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="addDeliveryDetail()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>
<div id="background-loading" style="display:none">

</div>

@section Scripts
{
    <script type="text/javascript">

        var DeviceList = [];

        function saveAll() {
            let data = {
                UsernameReceipt: $('#UsernameReceipt').val(),
                IDProvider: $('#IDProvider').val(),
                Note: $('#ReceiptNote').val(),
                Devices: DeviceList
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Receipt")',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // location.reload();
                    console.log(data);
                },
                error: function (msg) {
                    console.log(msg);
                }
            });

        }

        function deleteDeliveryDetail(id) {
            if (id === undefined || id < 0) {
                return;
            }

            DeviceList.splice(id, 1);
            loadData();
        }

        function addDeliveryDetail() {
            let data = {
                Name: $('#Name').val(),
                Quantity: $('#Quantity').val(),
                IDCategory: $('#IDCategory').val(),
                IDUnit: $('#IDUnit').val(),
                IDStatus: $('#IDStatus').val(),
                Price: $('#Price').val(),
                Info: $('#Info').val(),
                Note: $('#Note').val(),
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Device")',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    // Update DeviceList:
                    DeviceList.push(data);
                     loadData();
                    formatForm();
                    $('#model-editor').modal('toggle');
                },
                error: function (msg) {
                    console.log(msg);
                }
            });

        }

        function loadData() {

            $('table.table > tbody > tr.record').each(function () {
                this.parentNode.removeChild(this);
            });

            for (let i = 0; i < DeviceList.length; i++) {
                let data = DeviceList[i];

                let record = '<tr class="record"><td>' + data.Name + '</td><td>' + data.Unit.Name
                    + '</td><td>' + data.Quantity + '</td><td>' + data.Note + '</td><td>'
                    //+ '<a href="javascript:void(0)" onclick="addDeliveryDetail(' + i + ')">Edit</a> | '
                    + '<a href="javascript:void(0)" onclick="deleteDeliveryDetail(' + i + ')">Xóa</a>'
                    + '</td></tr >';
                // Update UI:
                $('table.table > tbody').append(record);
            }
        }

        function formatForm() {
            $('#Name').val('');
            $('#Quantity').val(0);
            $("#IDCategory").val($("#IDCategory option:first").val());
            $("#IDUnit").val($("#IDUnit option:first").val());
            $("#IDStatus").val($("#IDStatus option:first").val());
            $('#Price').val('');
            $('#Info').val('');
            $('#Note').val('');
        }

    </script>
}