@model DeviceManager.Models.ViewModels.DeliveryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delivery</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UsernameFromDelivery, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsernameFromDelivery", Model.UserList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsernameFromDelivery, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UsernameToDelivery, null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsernameToDelivery", Model.UserList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsernameToDelivery, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", @id = "DeliveryNote" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg">Thêm mới thiết bị</button>

        <input type="button" value="Lưu lại" class="btn btn-danger btn-sm" onclick="saveAll()" />

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDetail.Device.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDetail.Device.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDetail.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDetail.DateExpires)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryDetail.Note)
                </th>
                <th></th>
            </tr>

            @for (int i = 0; i < Model.DeliveryDetailEdits.Count; i++)
            {
                var item = Model.DeliveryDetailEdits.ToList()[i];
                <tr class="record">
                    <td>
                        @Html.DisplayFor(modelItem => item.Device.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Device.UnitName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateExpires)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        <a href="javascript:void(0)" data-toggle="modal" data-target=".bs-modal-edit" onclick="loadEdit(@i)">Chi tiết</a>
                        |
                        <a href="javascript:void(0)" onclick="deleteDeliveryDetail(@i)">Xóa</a>
                    </td>
                </tr>
            }

        </table>

    </div>
}
<div>
    @Html.ActionLink("Danh sách Bàn Giao", "Index")
</div>
<!--Model Create-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="modal-editor">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm mới</h4>
            </div>
            <div class="modal-body">
                @Html.Action("Create", "DeliveryDetail")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="addDeliveryDetail()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>
<!--End Model Create-->
<!--Model Edit-->
<div class="modal fade bs-modal-edit" tabindex="-1" role="dialog" aria-labelledby="modelEdit" id="modal-edit">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thông tin chi tiết</h4>
            </div>
            <div class="modal-body" id="modal-edit-body">
                Loading...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="saveEdit()">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<!--End Model Edit-->

<div id="background-loading" style="display:none">

</div>
@section Scripts
{
    <script src="~/Scripts/Enums.js"></script>
    <script type="text/javascript">

        var deliveryDetailList = [];
        initData();

        function initData() {
            deliveryDetailList =  @Html.Raw(ViewBag.json);
        }

        function saveAll() {
            let data = {
                ID: @Model.ID,
                UsernameFromDelivery: $('#UsernameFromDelivery').val(),
                UsernameToDelivery: $('#UsernameToDelivery').val(),
                Note: $('#DeliveryNote').val(),
                DeliveryDetails: deliveryDetailList
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Delivery")',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    location.reload();
                },
                error: function (msg) {
                    console.log(msg);
                }
            });

        }

        function addDeliveryDetail() {
            let data = {
                Action: ACTIONS.ADD,
                IDDevice: $('#IDDevice').val(),
                Quantity: $('#Quantity').val(),
                DateExpires: $('#DateExpires').val(),
                Note: $('#Note').val()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "DeliveryDetail")',
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    // Update deliveryDetailList:
                    deliveryDetailList.push(data);
                    loadData();
                    formatForm();
                    $('#modal-editor').modal('toggle');
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        function deleteDeliveryDetail(index) {
            if (index !== undefined && index >= 0) {
                // Add new:
                if (deliveryDetailList[index].Action == ACTIONS.ADD) {
                    deliveryDetailList.splice(index, 1);
                }
                else {
                    deliveryDetailList[index].Action = ACTIONS.DELETE
                }

                loadData();
            }
        }

        // Load editing form:
        function loadEdit(index) {
            if (index === undefined || index < 0) {
                return;
            }
            let data = deliveryDetailList[index];
            data.Index = index;
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditPartial", "DeliveryDetail")',
                data: JSON.stringify(data),
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#modal-edit-body').html(data);

                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        }

        function saveEdit() {

            let data = deliveryDetailList[$('#Index').val()];
            data.Index = $('#Index').val();
            data.IDDevice = $('#DeliveryDeviceID').val();
            data.Quantity = $('#DeviceQuantity').val();
            data.DateExpires = $('#DeviceDateExpires').val();
            data.Note = $('#DeviceNote').val();
            data.Device = {
                ID: data.IDDevice,
                Name: $('#DeliveryDeviceID option:selected').text(),
                UnitName: ''
            };

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetUnitName", "Device")',
                data: { id: data.Device.ID },
                dataType: "text",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    data.Device.UnitName = res;
                    if (data.Action == ACTIONS.NONE) {
                        data.Action = ACTIONS.EDIT;
                    }
                    deliveryDetailList[data.Index] = data;
                    loadData();
                    $('#modal-edit').modal('toggle');
                },
                error: function (msg) {
                    data.Device.UnitName = 'ERROR';
                }
            });



        }

        function loadData() {

            $('table.table > tbody > tr.record').each(function () {
                this.parentNode.removeChild(this);
            });

            for (let i = 0; i < deliveryDetailList.length; i++) {
                let data = deliveryDetailList[i];
                let record = '';

                if (data.Action != ACTIONS.DELETE) {
                    record = '<tr class="record"><td>' + data.Device.Name + '</td><td>' + data.Device.UnitName
                        + '</td><td>' + data.Quantity + '</td><td>' + data.DateExpires + '</td><td>' + data.Note + '</td><td>'
                        + '<a href="javascript:void(0)" data-toggle="modal" data-target=".bs-modal-edit" onclick="loadEdit('+ i +')">Chi tiết</a> | '
                        + '<a href="javascript:void(0)" onclick="deleteDeliveryDetail(' + i + ')">Xóa</a>'
                        + '</td></tr >';
                }
                else {
                    record = '';
                }

                // Update UI:
                $('table.table > tbody').append(record);
            }
        }

        function formatForm() {
            $("#IDDevice").val($("#IDDevice option:first").val());
            $('#Quantity').val(0);
            $('#DateExpires').val('');
            $('#Note').val('');
        }

    </script>
}