@model IEnumerable<DeviceManager.Models.Delivery>

@{
    ViewBag.Title = "Danh sách bàn giao thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách bàn giao thiết bị</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Đại diện kho
        </th>
        <th>
            Bên nhận
        </th>
        <th>
            Tạo bởi
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Ngày cập nhật
        </th>
        <th>
            Ghi chú
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName) (@Html.DisplayFor(modelItem => item.User.Username))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User1.FullName) (@Html.DisplayFor(modelItem => item.User1.Username))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
